@model TypeOfBookViewModel

<div class="row">
    <div class="col-sm-12">
        <h2>Dodaj gatunek</h2>
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-sm-5">
        <form asp-action="AddType">
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" />
            </div>
            <div class="form-group">
                <button type="submit" class="btn bg-success">Dodaj <i class="icon-ok"></i></button>
                <a asp-action="Manage" asp-controller="Book" class="btn btn-outline-info">Wróć <i class="icon-cancel"></i></a>
            </div>
        </form>
    </div>
</div>